html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  text-align: center;
}


/* ここから */
header {
  height: 50px;
  background-color: #2b2b2b;
}

header ul {
  margin: 0;
  padding: 5px;
}

header ul a {
  text-decoration: none;
  color: #fff;
  margin: 5px;
}


header li {
  list-style: none;
  float: left;
  padding: 10px;
}

.left{
  float: left;
}

.right_side{
  float: right;
}

.right{
  float:left;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

/* ここまでがheader部分の実装 */
.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  position: relative;
  height: 80px; /*高さを追加*/
}

.main-header img {
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
  width: 13%;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.about{
  padding: 10px 0;
}

.about h1{
/* About Achieve部分の実装 */
  font-size: 1.5rem;
}

.about p{
  font-size: 0.8rem;
}

/* ここから */
.function {
  background-color: #d3d3d3;
  padding: 10px 0 ;
  margin: 0;
}

.function h1{
  font-size: 1.5rem;
}

.function-images {
  display: table;
  margin: 0 auto;
}

.function-image {
  display: table-cell;
  vertical-align: bottom;
  padding: 0 20px;
}

.function-image img{
  width: 60px;
}

.function-image p{
  font-size: 0.8rem;
}

/* ここまでがfunction部分の実装 */

footer {
/* footer部分の実装 */
  height: 70px;
  background-color: #283a4b;
  display: table;
  width: 100%;
}

.footer_wrapper{
  display: table-cell;
  vertical-align: middle;
}

.footer_wrapper p{
  margin: 0;
  font-size: 0.8rem;
  color: #fff;
}
